@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: '#D3DAD9';
  font-family: "Roboto";
  position: relative;
}

@font-face {
  font-family: "Roboto";
  src: url("/public/Roboto-VariableFont_wdth\,wght.ttf") format("woff2");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}
